h1 {
  text-align: center;
  background: #fdee63
}
body {
  width: 500px;
  margin: 0 auto;
  padding: 3px;
  background: #fdee63;
}
.myrow {
  display: flex;
  flex-wrap: wrap;
}
.mygrid {
  flex: 1;
  min-width: 25%;
  padding: 10px;
}
.row.header {
  color: #000000;
  background: #fa930d;
}
tr:nth-child(even) {
  background-color: #ffe862;
}
.table {
  width: 100%;
  display: table;
  margin: 0;
  text-align: center;
  background: #ffe862;
}
div.elem-group {
  margin: 20px 0;
}
div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}
label {
  font-family: "Gill Sans";
  padding-bottom: 10px;
  font-size: 1.25em;
}
input,
select {
  border-radius: 2px;
  border: 2px solid rgb(116, 100, 94);
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: "Gill Sans";
  width: 100%;
  padding: 10px;
}
.radio-group input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 8px 12px 8px;
}
.radio-group label {
  margin: 8px 0;
}
button {
  height: 50px;
  width: auto;
  background: #51ecec;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
  font-family: "Gill Sans";
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 40px;
}
.center {
  text-align: center;
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
button:hover {
  border: 2px solid black;
}
